.flex{
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   gap: 70PX;
   border: 1px solid black;
   height: 100vh;
   /*flex-wrap: wrap;
   /*flex-direction:column*/
}

.filhos {
    border: 1px solid black;
    /* width: 300px; */
}

